ul {
    background-color: brown;
}

.html {
    position: relative;
    top: 50px;
    left: 50px;
    /* bottom: 100px;
    right: 100px; */
    inset: 50px;

    /* position: unset; */
}

.css {
    position: absolute;
    background-color: aqua;
    top: 10px;
    left: 50px;
}