*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 5px;
}

body{
    font-size: 10em;
}

div{
    background-color: violet;
    width: 50vw;
    height: 50vh;
    padding: 5vw;
    margin: 10vh;
    border: 1wv solid red;
    font-size: 2em;
}

p{
    background-color: chartreuse;
    padding: 50%;
    height: 50%;
/* em & rem */
    font-size: 3rem;
    padding: 0.5rem;
}