#html.html{
    background-color:brown;
}

#html{
    background-color: lightgray ;
}

.html{
    background-color: yellow;
}

li{
    background-color: red !important;
}

li{
    background-color: rgb(228, 160, 15) !important;
}

li{
    background-color: blue;
}

/* 
element selector (0, 0, 1) -> 1
class selector (0, 1, 0) -> 10;
id selector (1, 0, 0) -> 100;
*/